/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  width: 100%;
  max-width: 40.25rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #4caf50;
  margin-bottom: 1.25rem;
}

/* Messages Section */
#messages {
  height: 40rem;
  /* overflow-y: auto; */
  border: 0.0625rem solid #ddd;
  border-radius: 0.25rem;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
}

.message {
  width: 7rem;
  margin: 0 0 1rem;
  padding: 1rem;
  border-radius: 0.3125rem;
  background-color: #e7f7df;
  position: relative;
}

.message p {
  margin: 0;
  word-wrap: break-word;
}

.message_name {
  font-weight: bold;
  color: #4caf50;
  display: inline-block;
  margin-right: 1rem;
}

.message_meta {
  font-size: 0.875rem;
  color: #999;
  display: inline-block;
}

.message_content {
  margin-top: 0.5rem;
}

/* Form Styles */
form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.input-container {
  position: relative;
  flex: 1;
}

.input-container input {
  width: 100%;
  padding: 0.5rem 0.3125rem;
  border: none;
  border-bottom: 0.125rem solid #ddd;
  outline: none;
  font-size: 1rem;
}

.input-container input:focus {
  border-bottom: 0.125rem solid #4caf50;
}

.input-container .label {
  position: absolute;
  top: 0.5rem;
  left: 0.3125rem;
  font-size: 1rem;
  color: #999;
  transition: 0.3s;
  pointer-events: none;
}

.input-container input:focus + .label,
.input-container input:not(:placeholder-shown) + .label {
  top: -1.25rem;
  font-size: 0.75rem;
  color: #4caf50;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.125rem;
  background-color: #4caf50;
  transition: 0.3s;
}

.input-container input:focus ~ .underline {
  width: 100%;
}

/* Button Styles */
button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #4caf50;
  color: #fff;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

#send-location {
  margin-top: 0.625rem;
  width: auto;
}

.container {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  background-color: #313131;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.171) 2px,
    transparent 0
  );
  background-size: 30px 30px;
  background-position: -5px -5px;
}

button.join {
  width: 100%;
  padding: 0.75rem;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.join:hover {
  background-color: #45a049;
}

.card {
  --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
  width: 50%;
  display: flex;
  flex-direction: row;
  height: 50%;
  padding: 5px;
  border-radius: 1rem;
  overflow: visible;
  background: #f7ba2b;
  background: var(--background);
  position: relative;
  z-index: 1;
}

.card::after {
  position: absolute;
  content: "";
  top: 30px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.8);
  filter: blur(25px);
  background: #f7ba2b;
  background: var(--background);
  transition: opacity 0.5s;
}

.card-info {
  --color: #181818;
  background: var(--color);
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: 0.7rem;
}

.card .title {
  font-weight: bold;
  letter-spacing: 0.1em;
}

/*Hover*/
.card:hover::after {
  opacity: 0;
}

.card:hover .card-info {
  color: #f7ba2b;
  transition: color 1s;
}

.card label {
  margin-bottom: 0.5rem; /* Optional: Adds space between label and input */
}

.card input,
.card textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem; /* Adds space between the form fields */
}

.chat-app {
  display: flex;
  height: 100vh;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

.sidebar {
  flex: 0 0 20%;
  background-color: #f5f5f5;
  color: black;
  padding: 1rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.sidebar h2 {
  margin: 0 0 1rem;
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 0.125rem solid #fff;
  padding-bottom: 0.5rem;
}

.sidebar ul {
  list-style-type: none;
  padding: 20px;
  margin: 0;
}

.sidebar li {
  margin: 0.5rem 0;
  padding: 0.5rem;
  .room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;
  }

  .list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
  }

  .users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
  }
  border-radius: 0.25rem;
  background-color: #45a049;
  font-size: 1rem;
  word-wrap: break-word;
  text-align: center;
}

.sidebar li:hover {
  background-color: #388e3c;
}

.room-title {
  font-weight: 400;
  font-size: 22px;
  background: #2c2f3a;
  color: white;
  padding: 24px;
}

.list-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 4px;
  padding: 12px 24px 0 24px;
}

.users {
  list-style-type: none;
  font-weight: 300;
  padding: 12px 24px 0 24px;
}
